. {
	width: 100px;
	height: 100px;
	display: inline-block;
	background:url(../pics/dirt.png) 0px 0px;
}

.new-row {
	margin-top: -5px;
}

.sprite {
    background-image: url(../pics/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-bud {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: url(../pics/spritesheet.png) -5px -5px;
}

.sprite-dirt {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: url(../pics/spritesheet.png) -115px -5px;
}

.sprite-flower {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: url(../pics/spritesheet.png) -5px -115px;
}

.sprite-sprout {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: url(../pics/spritesheet.png) -115px -115px;
}

.img-responsive{width:100%;}

/* 
@media screen
    and (min-width: 801px)
    and (max-width: 1200px) {
        .homer {
            width: 310px;
            height: 310px;
            background:url(homer.jpg) -310px 0px;
        }
	}
	*/

