/* 
 * style.css
 *
 * created by: Michelle Chan
 * created on: 10/10/2016
 * purpose   : stylesheet for index.html, comp20 lab5
 */

#title {
    text-align: center;
    color: pink;
    background-image: url("corgi.gif");
    height: 700px;
    line-height: 700px;
    width: 700px;
};